.body {

}

ul {
margin: 0;
padding: 0;
list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
width: 360px;
height: 200px;
flex-shrink: 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:24px;

}